@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Reggae+One&family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap");

.App {
  text-align: center;
}

html {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Reggae One", cursiv; */
  font-family: "Cabin", sans-serif;
}

.App-logo {
  height: 15vh;
  pointer-events: none;
  left: 0;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 background: rgb(0,181,255);
background: linear-gradient(90deg, rgba(0,181,255,1) 0%, rgba(79,165,198,1) 80%, rgba(43,170,201,1) 100%);
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*******NavBar */

.navbar-container {
background: linear-gradient(0deg, rgba(34,168,195,1) 0%, rgba(253,207,45,1) 100%);
}

.App-title.navbar-brand {
  font-size: 1.5rem;
}

.nav-links-container.navbar-nav {
  flex-direction: row;
}

.nav-links {
  font-size: 1.5rem;
  color: white;
  line-height: 2;
  margin-right: 10px;
}

/*******Coin Line Graph */
.chart {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  height: 600px;
}

.historical-coin-container {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.coin-chart-container {
  margin-top: 1rem;
}

.button-graph-container {
  display: flex;
  flex-direction: wrap;
  width: 40%;
  padding-left: 35px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.graph-days-button {
  border-radius: 5px;
  margin-right: 5px;
}

/*******Chart Info */

.chart-info-header.row {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  justify-content: center;
}

.chart-info-header.col {
  max-width: 45%;
}

.chart-info-container.row {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  justify-content: center;
  border-radius: 5px;
  background: #808080bf;
}

.chart-info-data-point.row {
  width: 100%;
  margin-top: 0.3rem;
  font-size: 1rem;
  justify-content: center;
}

.xypoint.col {
  max-width: 50%;
}

.coin-image-graph {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.image-title-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  justify-content: center;
}

.image-title-container h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

/*******Images */

.train {
  transform: scale(-1, 1);
  transform-origin: center;
  height: 80px;
  margin-left: auto;
  margin-bottom: -4px;
  margin-top: 5px;
}

.traintracks {
  height: 80px;
    margin-right: -10px;
    border-top: 5px solid white;
    transform: skewX(10deg);
}

#traintrack-border {
  overflow: hidden;
}

/*******HOME // CoinList */

/* This handles table scrolling*/
#crypto-list-div {
  max-height: 800px;
  overflow: auto;
}

#crypto-list-title {
  font-weight: 600;
}

#coin-table th {
  position: sticky;
  background: white;
  top: -5px;
  z-index: 5;
}
/******* */

#coin-table {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  overflow-x: scroll;
}

.coin-list-name {
  position: sticky;
  background: white;
  left: 50px;
  z-index: 2;
}

.image-container {
  position: sticky;
  background: white;
  left: 0;
  z-index: 2;
  width: 40px;
  margin-right: 1rem;
}

.coin-container td {
  z-index: 1;
  font-size: 20px;
}

.coin-container:first-child {
  border-top: 4px solid #6329a2;
}

.coin-container {
  border-bottom: 4px solid #6329a2;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-weight: 600;
  
}

.coin-container h3 {
  margin-right: 1rem;
}

.coin-image {
  width: 100%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  #coin-table th {
    font-size: 12px;
  }
  .coin-container td {
    font-size: 14px;
    padding-right: 10px;
  }

  .image-thead {
    width: 40px;
    height: 40px;
  }

  .App-header {
    height: 14vh;
  }

  .chart {
    width: 700px;
    height: 400px;
  }
}

@media screen and (max-width: 630px) {
  .traintracks.four {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .search-input {
    margin-bottom: 1rem;
  }

  .train, .traintracks {
    height: 45px;
  }

  .train {
    margin-bottom: -3px;
  }
}

@media screen and (max-width: 450px) {
  .traintracks.three {
    display: none;
  }
}
